.grid__row
.nav {
  text-align: center; }

/* 
Shaun Inman's CSS Reset
https://perishablepress.com/press/2007/10/23/a-killer-collection-of-global-css-reset-styles/
CSSresetr
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em,
h1, h2, h3, h4, h5, h6, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em; }

q:before, q:after {
  content: ''; }

a, ins {
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif; }

@media (min-width: 1px) {
  .container {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; }
    .container .btn--default.theme__colors {
      background-color: #61CDED; }
    .container .btn--success.theme__colors {
      background-color: #20CF74; }
    .container .btn--error.theme__colors {
      background-color: #CF7872; }
    .container .btn--warning.theme__colors {
      background-color: #EE7C49; }
    .container .btn--info.theme__colors {
      background-color: #9D70BD; } }
@media (min-width: 1100px) {
  .container {
    margin-left: 75px;
    margin-right: 75px;
    max-width: 1800px; } }

@media (min-width: 1px) {
  .grid__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2em;
    border-radius: 5px; } }
@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }
@media (min-width: 1100px) {
  .grid__row {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap; } }

.grid__row + .theme_colors {
  padding-left: 10px; }

.grid__col--3 .link {
  display: flex;
  flex-direction: row;
  justify-content: center; }

div.grid__col--12 .button {
  display: flex;
  justify-content: space-around; }

@media (min-width: 1px) {
  .grid__col--1 {
    text-align: left; }

  .grid__col--2 {
    text-align: left; }

  .grid__col--3 {
    text-align: left; }

  .grid__col--4 {
    text-align: left; }

  .grid__col--5 {
    text-align: left; }

  .grid__col--6 {
    text-align: left; }

  .grid__col--7 {
    text-align: left; }

  .grid__col--8 {
    text-align: left; }

  .grid__col--9 {
    text-align: left; }

  .grid__col--10 {
    text-align: left; }

  .grid__col--11 {
    text-align: left; }

  .grid__col--12 {
    text-align: left; }

  .grid__col--3.theme__colors {
    background-color: #9D70BD;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--4.theme__colors {
    background-color: #61CDED;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--5.theme__colors {
    background-color: #20CF74;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--6.theme__colors {
    background-color: #3F96AB;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--7.theme__colors {
    background-color: #CF7872;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--8.theme__colors {
    background-color: #EE7C49;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ }

  .grid__col--12.theme__colors {
    background-color: #7BBD9F;
    border-radius: 5px;
    /*  flex-grow:1;
      @include doubly;  */ } }
@media (min-width: 769px) {
  .grid__col--1 {
    width: 5.8558558559%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--2 {
    width: 14.4144144144%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--3 {
    width: 22.972972973%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--4 {
    width: 31.5315315315%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--5 {
    width: 40.0900900901%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--6 {
    width: 48.6486486486%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--7 {
    width: 57.2072072072%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--8 {
    width: 65.7657657658%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--9 {
    width: 74.3243243243%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--10 {
    width: 82.8828828829%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--11 {
    width: 91.4414414414%;
    text-align: center;
    flex-grow: 1; }

  .grid__col--12 {
    width: 100%;
    text-align: center;
    flex-grow: 1; } }
@media (min-width: 1px) {
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }
@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2.7027027027%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

@media (min-width: 1px) {
  .grid__col--7.theme__colors.centered {
    display: flex;
    justify-content: flex-start; } }
@media (min-width: 769px) {
  .grid__col--7.theme__colors.centered {
    display: flex;
    justify-content: center; } }

.btn--default.theme__colors,
.btn--success.theme__colors,
.btn--error.theme__colors,
.btn--warning.theme__colors,
.btn--info.theme__colors {
  border-radius: 5px;
  font-size: 1.5em;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 10px;
  color: #FAfafa; }
  @media (min-width: 1px) {
    .btn--default.theme__colors,
    .btn--success.theme__colors,
    .btn--error.theme__colors,
    .btn--warning.theme__colors,
    .btn--info.theme__colors {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      width: 96vw;
      justify-content: center; } }
  @media (min-width: 769px) {
    .btn--default.theme__colors,
    .btn--success.theme__colors,
    .btn--error.theme__colors,
    .btn--warning.theme__colors,
    .btn--info.theme__colors {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;
      width: 18.6vw;
      padding: 0.625em 1.25em 0.625em 1.25em; }
      .btn--default.theme__colors + .btn--default.theme__colors,
      .btn--success.theme__colors + .btn--default.theme__colors,
      .btn--error.theme__colors + .btn--default.theme__colors,
      .btn--warning.theme__colors + .btn--default.theme__colors,
      .btn--info.theme__colors + .btn--default.theme__colors, .btn--default.theme__colors +
      .btn--success.theme__colors,
      .btn--success.theme__colors +
      .btn--success.theme__colors,
      .btn--error.theme__colors +
      .btn--success.theme__colors,
      .btn--warning.theme__colors +
      .btn--success.theme__colors,
      .btn--info.theme__colors +
      .btn--success.theme__colors, .btn--default.theme__colors +
      .btn--error.theme__colors,
      .btn--success.theme__colors +
      .btn--error.theme__colors,
      .btn--error.theme__colors +
      .btn--error.theme__colors,
      .btn--warning.theme__colors +
      .btn--error.theme__colors,
      .btn--info.theme__colors +
      .btn--error.theme__colors, .btn--default.theme__colors +
      .btn--warning.theme__colors,
      .btn--success.theme__colors +
      .btn--warning.theme__colors,
      .btn--error.theme__colors +
      .btn--warning.theme__colors,
      .btn--warning.theme__colors +
      .btn--warning.theme__colors,
      .btn--info.theme__colors +
      .btn--warning.theme__colors, .btn--default.theme__colors +
      .btn--info.theme__colors,
      .btn--success.theme__colors +
      .btn--info.theme__colors,
      .btn--error.theme__colors +
      .btn--info.theme__colors,
      .btn--warning.theme__colors +
      .btn--info.theme__colors,
      .btn--info.theme__colors +
      .btn--info.theme__colors {
        margin-left: 1px; } }
  @media (min-width: 1100px) {
    .btn--default.theme__colors,
    .btn--success.theme__colors,
    .btn--error.theme__colors,
    .btn--warning.theme__colors,
    .btn--info.theme__colors {
      margin-left: 10px;
      width: 16.6666666667vw; }
      .btn--default.theme__colors + .btn--default.theme__colors,
      .btn--success.theme__colors + .btn--default.theme__colors,
      .btn--error.theme__colors + .btn--default.theme__colors,
      .btn--warning.theme__colors + .btn--default.theme__colors,
      .btn--info.theme__colors + .btn--default.theme__colors, .btn--default.theme__colors +
      .btn--success.theme__colors,
      .btn--success.theme__colors +
      .btn--success.theme__colors,
      .btn--error.theme__colors +
      .btn--success.theme__colors,
      .btn--warning.theme__colors +
      .btn--success.theme__colors,
      .btn--info.theme__colors +
      .btn--success.theme__colors, .btn--default.theme__colors +
      .btn--error.theme__colors,
      .btn--success.theme__colors +
      .btn--error.theme__colors,
      .btn--error.theme__colors +
      .btn--error.theme__colors,
      .btn--warning.theme__colors +
      .btn--error.theme__colors,
      .btn--info.theme__colors +
      .btn--error.theme__colors, .btn--default.theme__colors +
      .btn--warning.theme__colors,
      .btn--success.theme__colors +
      .btn--warning.theme__colors,
      .btn--error.theme__colors +
      .btn--warning.theme__colors,
      .btn--warning.theme__colors +
      .btn--warning.theme__colors,
      .btn--info.theme__colors +
      .btn--warning.theme__colors, .btn--default.theme__colors +
      .btn--info.theme__colors,
      .btn--success.theme__colors +
      .btn--info.theme__colors,
      .btn--error.theme__colors +
      .btn--info.theme__colors,
      .btn--warning.theme__colors +
      .btn--info.theme__colors,
      .btn--info.theme__colors +
      .btn--info.theme__colors {
        margin-left: 8px; } }

/*.btn--default,
.btn-success,
.btn-error,
.btn-warning,
.btn-info{
    width:100vw;
}  */
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (min-width: 769px) {
    .form {
      width: 20vw;
      text-align: center; } }

.form__input {
  border-bottom: 4px solid #6BE6C0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none; }
  @media (min-width: 769px) {
    .form__input {
      display: block;
      width: 19vw;
      margin-left: 10px; } }
  @media (min-width: 769px) and (min-width: 1100px) {
    .form__input {
      width: 17vw; } }

form.btn--default.theme__colors {
  background-color: #6BE6C0;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 10px;
  padding-left: 5px;
  align-self: center;
  width: 35vw;
  box-sizing: border-box;
  margin-left: 30px;
  flex-grow: 1; }

.form__label--hidden {
  display: none; }

.img--logo {
  display: inline-block;
  padding: 5px; }
  @media (min-width: 1100px) {
    .img--logo {
      margin-right: auto; } }

.img--avatar {
  display: block;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 180px;
  height: 180px; }
  @media (min-width: 769px) {
    .img--avatar {
      width: 170px;
      height: 170px; } }
  @media (min-width: 1100px) {
    .img--avatar {
      width: 200px;
      height: 200px; } }

.img--frame {
  display: flex;
  padding: 10px;
  margin: auto;
  border: 1px solid; }

.grid__row
.nav {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif; }
  @media (min-width: 769px) {
    .grid__row
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; } }
  @media (min-width: 1100px) {
    .grid__row
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      /*   &item {
             @include flex-container($display: inline-flex);
             
              
         }  */ } }

@media (min-width: 769px) {
  .img--logo {
    margin-right: auto; } }

/*.card{
@include media-qry(small){
    @include flex-container($flex-dir:column);
}
@include media-qry(large){
    @include flex-container($flex-dir:row);
}


};  */
a {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 1px) {
  .link {
    color: #61CDED;
    margin: auto; } }
@media (min-width: 769px) {
  .link {
    margin-left: 2em;
    text-decoration: none; } }

.nav__item {
  border-radius: 5px;
  margin-top: 2em; }
  .nav__item:hover {
    background-color: #6BE6C0; }

/* h1, h4, p{
font-family: $font-stack;
} */
.headline--secondary {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px; }

@media (min-width: 1px) {
  .headline--primary {
    font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;
    color: #6BE6C0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 40px;
    text-align: left;
    font-size: 2em; } }
@media (min-width: 1100px) {
  .headline--primary {
    margin-left: 30px;
    font-size: 2em; } }

@media (min-width: 1px) {
  .blockquote {
    border-left: 3px solid #6BE6C0;
    margin: 20px;
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 40px;
    text-align: left;
    font-style: italic;
    font-weight: 300; } }
@media (min-width: 1100px) {
  .blockquote {
    font-size: 2.5em;
    line-height: 1em; } }

.card {
  display: inline-flex;
  flex-direction: column; }
  .card p {
    text-align: left;
    padding-left: 10px; }

@media (min-width: 1px) {
  .headline--secondary {
    display: block;
    text-align: left;
    padding-left: 10px; } }

.card {
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=styles.css.map */
