/*    % col{
float: left;
padding: 0 10px;
margin-left: 2%;
};   */

// center 
%center{
    text-align:center;
}



/*%column{  // include this in utilites extends partial
    float:left;
    padding: 0 10px;
    margin-left: 2%;
}  */