.form{

    @include flex-container( $flex-dir: column, $justify: flex-end);
    @include media-qry(medium){
        width:20vw;
        text-align:center;
        
    }
}
.form__input{
    border-bottom: 4px solid $color-secondary;
    padding-top:$pd-top;
    padding-bottom:$pd-bottom;
    margin-top:$mrgn-top;
    margin-bottom:$mrgn-bottom;
    border-top: none;
    border-left:none;
    border-right:none;
    @include media-qry(medium){
        display:block;
        width:19vw;
        //box-sizing:border-box;
        margin-left:10px;
    @include media-qry(large){
        width:17vw;

    }
    }
}

form.btn--default.theme__colors{
    background-color: $color-secondary;
    border-radius: $bdr-radius;
    padding-top: $pd-top;
    margin-top: $mrgn-top;
    padding-left:$pd-left;
    align-self:center;
    width:35vw;
    box-sizing:border-box;
    margin-left: 30px;
    flex-grow:1;
}
.form__label--hidden{
    display: none;
}