// image styling

.img--logo{
    display: inline-block;
    padding: 5px;
     
    @include media-qry(large){
        margin-right: auto;
    }
};
.img--avatar{
    display: block;
    margin:auto;
}
.img--frame{
@include flex-container($display:flex); 
margin:auto;}