@mixin clearfix{
    &:after {
        content: "";
        display:table;
        clear: both;
    }
}


.grid__row
.nav{
    @include media-qry(small){}
@include flex-container($flex-dir:column);
font-family:$font-stack;
@extend %center;
 @include media-qry(medium){
    @include flex-container($flex-dir: row, $justify: flex-end);
    
    
};  

    @include media-qry(large){
        @include flex-container($flex-dir: row, $justify: center);
         
    } 

};

.img--logo{
    @include media-qry(medium){
    margin-right:auto}
};


a{
    @include spacing;
    
}
.link{
    @include media-qry(small){
    color:$turquoise-blue;
    margin: auto;}
    @include media-qry(medium){
        margin-left: 2em;
        text-decoration:none;
    }
};
.nav__item{
    border-radius: $bdr-radius;
    margin-top:2em;;
    &:hover {
        background-color: $color-secondary;
    }
}