.grid__row
.nav{
    @include media-qry(small){}
@include flex-container($flex-dir:column);

@extend %center;
    @include media-qry(large){
        @include flex-container($flex-dir: row, $justify: center);
         /*   &item {
                @include flex-container($display: inline-flex);
                
                 
            }  */
    } 
};
.img--logo{
    margin-right:auto;
}


a{
    @include spacing;
    
}
.link{
    color:$turquoise-blue;
}
.nav__item{
    border-radius: $bdr-radius;
    margin-top:$mrgn-top;
    &:hover {
        background-color: $color-secondary;
    }
}