// card class includes styling for paragraphs


.card{
    @include flex-container($display: inline-flex, $flex-dir:column);
p{
        text-align:left;
        padding-left: $nav-pad-left;
        
    }
   
}

.headline--secondary{
    display: block;
}